input[type="text"] {
    width: 100%;
    background: rgba(255, 255, 255, .9);
    border-radius: 30px;
    border: solid 1px rgb(252, 125, 7);
    padding: 10px 20px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 1px 1px 6px #CCC;
}