footer {
    border-top: 1px solid #e6e6e6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

footer .link {
    color: #707070;
    transition: color .5s;
}


footer .linkedIn-Profile {
    color: #1d1d1d;
}

footer .link:hover,
footer .linkedIn-Profile:hover {
    color: #48c4e0;
}